{
  "plugins": [
    "babel-plugin-react-require",
    "react-hot-loader/babel",
    "babel-plugin-transform-zero-dirname-filename",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}