html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: url('../assets/y-so-serious-white.png'); */
  /* background-repeat: repeat; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mutationFormNested {
  padding: 5px;
  border: 2px solid rgb(200, 200, 200);
}
